<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Ooops</h1>
  <p>Something wrong happend. Please return to the <a href="/"><b>HOMEPAGE</b></a> and try again.</p>
  <h4>Error Message</h4>
  <p><%=errContent%></p>
</div>
<%- include('partials/footer') %>
