<%- include('partials/header') %>
<div class="container mt-5">
  <h1>에러!</h1>
  <p>무언가 잘못되었습니다.. 이미 있는 계정으로 회원가입을 하신 것 같습니다 <a href="/"><b>홈페이지로</b></a> 가셔서 지금 입력한걸로 로그인 해보세요.</p>
  <h4>에러에러!</h4>
  <p><%=errContent%></p>
</div>
<%- include('partials/footer') %>
