<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="secret-text">주의 : 한번 게시한 글은 삭제가 불가능합니다!</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="타인을 비방하거나 신원을 공개하는 글을 작성하면 알죠? ^^">
      </div>
      <button type="submit" class="btn btn-dark">글쓰기</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
